.features{
    width: 100%;
    .features-content{
        width: 100%;
        background-color: #fff;
        display: grid;
        grid-template-columns: repeat(4,250px);
        justify-content: space-between;
        padding: 50px 0;
        .features-card{
            border: 1px solid #eff2f3;
            display: flex;
            flex-direction: column;
            align-items: center;
                gap: 20px;
                padding: 20px;
            .card-icon{
               font-size: 40px;
                display: flex;
                justify-content: center;
                align-items: center;
            }
            h1,h2{
                margin: 0;
                padding: 0;
            }
            h1{
                font-size: 15px;
                font-weight: 500;
                color: #2a2a2a;
            }
            h2{
                font-size: 14px;
                color: #797979;
            }
        }
    }
}


@media screen and (min-width:320px) and (max-width:480px){
    .features{
        .container{
            width: 90%;
            .features-content{
                grid-template-columns: repeat(1, 100%);
                padding: 20px 0;
                justify-content: center;
                gap: 30px;
            }
        }
    }
}

@media screen and (min-width:481px) and (max-width:768px){
    .features{
        .container{
            width: 90%;
            .features-content{
                grid-template-columns: repeat(2, 50%);
                padding: 20px 0;
                justify-content: center;
                gap: 20px;
            }
        }
    }
}