.product-total{
    
    h2{
        color: #797979;
        font-size: 30px;
    }
    p{
        font-size: 20px;
    }
}

@media screen and (min-width:320px) and (max-width:768px){
    .gift-card-content{
       width: 100%;
        .container{
            width: 100%;
            flex-direction: column;
            .product-total{
                width: 100%;
                padding: 10px;
                
            }
        }
    }
    
   
}