.header-top{
    width: 100%;
    padding: 15px 0;
    background: #f6f6f6;
    .header-content{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between; 
        a{
            padding: 0 19px;
            color: #4a4a4a;
            font-size: 11px;
        }
        .header-content-item1>a{
            &:first-child{
                border-right: 1px solid #4a4a4a;
            }
        }
        .header-content-item2>a{
            &:nth-child(2){
                border-right: 1px solid #4a4a4a;
                border-left: 1px solid #4a4a4a;
            }
            &:hover{
                transition: .3s ease ;
                color: #71cd14;;
            }
        }

    }
}