.login{
    margin: 100px 0;
    width: 100%;
    .login-content{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        form{
            width: 40%;
        }
    }
}


@media screen and (min-width:320px) and (max-width:768px){
    .login{
        
        .container{
            width: 100%;
            .login-content{
                form{
                    width: 100%;
                    padding:10px
                }
            }
        }
    }
}