.card-title{
    width: 100%;
    height: auto;
    .card-content{
        width: 100%;
        height: auto;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        gap: 30px;
        
    }
}


@media screen and (min-width:320px) and (max-width:480px){
    .card-title{
        .container{
            width: 90%;
            .card-content{
                display: grid;
                grid-template-columns: repeat(2,250px);
                gap: 20px;
            }
        }
    }
}
@media screen and (min-width:481px) and (max-width:768px){
    .card-title{
        .container{
            width: 90%;
            .card-content{
               display: grid;
               grid-template-columns: repeat(2,250px);
               gap: 20px;
            }
        }
    }
}