.shop-product{
    width: 100%;
    margin: 100px 0;
    .shop-product-content{
        width: 100%;
        display: flex;
        .shop-product-radio-grp{
            width: 30%;
            display: flex;
            flex-direction: column;
            gap: 20px;
            
        }
        .shop-product-cards{
            width: 70% ;
            height: auto;
            
        }
    }
}
.shop-products-title{
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-auto-flow: dense;
    gap: 20px;
}



@media screen and (min-width:320px) and (max-width:480px){
    .shop-product{
        .container{
            width: 90%;
            .shop-product-content{
                flex-direction: column-reverse;
                .shop-product-radio-grp{
                    margin-top: 50px;
                }
                .shop-product-cards{
                    width: 100%;
                    
                }
            }
        }
    }
}

@media screen and (min-width:481px) and (max-width:768px){
    .shop-product{
        .container{
            width: 90%;
            .shop-product-content{
                flex-direction: column-reverse;
                .shop-product-radio-grp{
                    margin-top: 50px;
                }
                .shop-product-cards{
                    width: 100%;
                    display: flex;
                    flex-wrap: wrap;
                }
            }
        }
    }
}