.shop-product{
    width: 100%;
    margin: 100px 0;
    .shop-product-content{
        width: 100%;
        display: flex;
        .shop-product-radio-grp{
            display: flex;
            flex-direction: column;
            gap: 20px;
            margin-right: 20px;
        }
        .shop-product-cards{

        }
    }
}


@media screen and (min-width:320px) and (max-width:480px){
    .shop-product{
        .container{
            width: 90%;
            .shop-product-content{
                flex-direction: column-reverse;
            }
        }
    }
}